:root {
    --primary-color: #57cbcc;
    --secondary-color: #afbac4;
    --complementary-color: #CC5857;
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('static/font/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('static/font/Poppins/Poppins-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik Regular', sans-serif;
}

h1 {
    color: #fff;
}

span, p {
    font-family: 'Poppins Regular', sans-serif !important;
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

/* Bootstrap overrides */
.bg-dark {
    background-color: #1d2024 !important;
}

.navbar-nav .active>.nav-link {
    color: var(--primary-color) !important;
}

@keyframes moveIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}

@media (min-width: 1024px) {
    .navbar-nav {
        animation: moveIn 2s;
    }
}

.badge-primary {
    background-color: #353b43;
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 700px;
    }
}

.modal-header {
    color: #fff;
    border-bottom: 1px solid var(--primary-color);
    background-color: #1d2024;
}

.modal-content {
    background-color: #292F36;
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-secondary {
    color: var(--complementary-color);
    border-color: var(--complementary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--complementary-color);
    border-color: var(--complementary-color);
}
/**********************/

@media (min-width: 1024px) {
    .resume-nav {
        margin-left: 20px;
    }
}

.left-arrow-link {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1000;
}

.right-arrow-link {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1000;
}

@media (max-width: 990px) {
    .left-arrow-link, .right-arrow-link {
        display: none;
    }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

.arrow-animated {
	display: inline-block;
	height: 40px;
	width: 80px;

    animation: fadeIn 3s;
}

.arrow-animated svg {
	height: 100%;
	width: 100%;
}

.arrow-animated.arrow-left svg {
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.arrow-animated polyline{
    fill: none;
    stroke: #f2f2f2;
    stroke-miterlimit: 10;
    stroke-width: 2.91px;
}

.arrow-animated:hover polyline:first-child {
	opacity: 0;
	animation: arrowFadeIn .3s ease .2s;
	animation-fill-mode: forwards;
}

.arrow-animated polyline:nth-last-child(2){
    opacity: 0;
    stroke: #8da4b3;
}

.arrow-animated:hover polyline:nth-last-child(2){
    animation: arrowFadeIn .3s ease .1s;
    animation-fill-mode: backwards;
    stroke: #8da4b3;
}

.arrow-animated polyline:last-child{
    opacity: 0;
    stroke: #bbc8d2;
}

.arrow-animated:hover polyline:last-child {
    animation: arrowFadeIn .3s ease 0s;
    animation-fill-mode: backwards;
    stroke: #bbc8d2;
}

@keyframes arrowFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.site-container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;

    background: #000;
}

section {
    width: 100%;
    height: 100%;

    flex: 0 0 auto;
    background: #353b43;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.home-content {
    color: #fff;
}

@media (min-width: 992px) {
    .home-content {
        width: 870px;
    }
}

@keyframes fadeDown {
    from { 
        opacity: 0; 
        transform: translateY(-20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes fadeLeft {
    from { 
        opacity: 0; 
        transform: translateX(-40px); 
    }
    to { 
        opacity: 1; 
        transform: translateX(0); 
    }
}

@keyframes fadeUp {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

.home-content h2 {
    font-size: 20px;
    color: var(--primary-color);

    animation: fadeDown 1s;
}

.home-content h1 {
    font-weight: 550;
    font-size: 75px;

    animation: fadeLeft 1.5s;
}

@media (max-width: 480px) {
    .home-content h1 {
        font-size: 60px;
    }
}

.home-content p {
    max-width: 500px;

    animation: fadeUp 2s;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.portfolio-content {
    width: 100%;
}

.portfolio-grid {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 225px;
    margin-top: 35px; 
}

@media (min-width: 1024px) {
    .portfolio-container {
        max-width: 800px;
    }
}

@media (min-width: 1025px) {
    .portfolio-container {
        margin-top: 120px;
    }
    .portfolio-content {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-auto-rows: 190px;
    } 
    
}

@media (max-width: 480px) {
    .portfolio-container {
        margin-top: 80px;
        display: block;
    }
    .portfolio-content {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-auto-rows: 195px;
    }
}

@keyframes appear {
    from { 
        opacity: 0;
        transform: scale(0.25);
    }
    to { 
        opacity: 1;
        transform: scale(1);
    }
}

.item-1 {
    animation: appear 1s ease;
}

.item-2 {
    animation: appear 1.25s ease;
}

.item-3 {
    animation: appear 1.5s ease;
}

.item-4 {
    animation: appear 1.75s ease;
}

.portfolio-item {
    position: relative;
    transition: all 0.3s ease;
}

.portfolio-item img {
    height: 100%;
    object-fit: cover;
}

.portfolio-item:hover {
    box-shadow: 0px 8px 10px #1d2024;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    cursor: pointer;
}

.portfolio-title {
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    color: #fff;
}

.portfolio-title h5 {
    text-align: center;
    padding-top: 2px;
}

.portfolio-modal-image {
    width: 100%;
    height: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

@media (max-width: 1024px) {
    .about-container {
        max-width: 800px;
    }
}

@media (max-width: 450px) {
    .about-container {
        margin-top: 80px;
        display: block;
    }
}

.about-content {
    width: 100%;
}

@media (min-width: 1025px) {
    .about-content {
        margin-top: 60px;
    }
}

.about-title-me {
    color: var(--primary-color);
}

.about-grid {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 3fr 2fr;
}

@media (max-width: 768px) {
    .about-grid {
        display: block;
    }
}

.paragraph-1 {
    animation: fadeDown 1s linear;
}

.paragraph-2 {
    animation: fadeDown 1.5s linear;
}

.paragraph-3 {
    animation: fadeDown 2.5s linear;
}

.about-image {
    margin: 0 auto;
    max-width: 300px;
}

.about-image-wrapper {
    position: relative;
}

.about-image-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 1;
    border: 1px solid var(--primary-color);
    border-radius: 8px;

    opacity: .5;
    transition: opacity .25s;
}

@keyframes defrost {
    from { opacity: 1 }
    to { opacity: .5 }
}

.about-image-filter-defrosting {
    animation: defrost 2.5s ease-out;
}

.about-image img {
    width: 100%;
    height: auto; 
    border-radius: 8px;

    transition: filter .5s;
    filter: grayscale(100%);
}

.about-image:hover img {
    filter: grayscale(0);
}

.about-image:hover .about-image-wrapper .about-image-filter {
   opacity: 0;
}

@media (max-width: 480px) {
    .about-text {
        margin-bottom: 30px; 
    }
    .about-image {
        margin-bottom: 40px;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.contact-card {
    color: #fff;
    background-color: #292F36;
    padding: 50px;
}

.contact-details-wrapper {
    position: relative;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contact-detail img {
    max-width: 40px;
    filter: invert(1);
    position: absolute;
    left: 0;
}

.contact-detail a {
    margin-left: 100px;
    color: #fff;
}

@media (max-width: 480px) {
    .contact-detail a {
        margin-left: 60px;
    }
}

